<app-spinner *ngIf="loading$ | async"></app-spinner>
<mat-toolbar color="'secondary">
  <span>Registrar nuevo Inmueble</span>
</mat-toolbar>

<section fxLayoutAlign="center">
  <mat-card>
    <form
      fxLayout="column"
      fxLayoutAlign="center"
      #f="ngForm"
      (ngSubmit)="registrarInmueble(f)"
      fxLayoutGap="10px"
    >
      <div class="personal__photo">
        <div class="photo">
          <app-entity-photo
            class="photo__img"
            [photoURL]="photoLoaded"
          ></app-entity-photo>
          <button mat-button appFilesUpload (changed)="onFilesChanged($event)">
            <mat-icon>upload</mat-icon>
            Subir Imagen
          </button>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Ingrese Nombre</mat-label>
        <input
          type="text"
          name="nombre"
          id=""
          ngModel
          required
          placeholder="Ingrese nombre"
          matInput
        />
        <mat-error>Debe ingresar un nombre</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ingrese dirección</mat-label>
        <input
          type="text"
          name="direccion"
          id=""
          ngModel
          required
          placeholder="Ingrese dirección"
          matInput
        />
        <mat-error>Debe ingresar la dirección</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ingrese precio</mat-label>
        <input
          type="text"
          name="precio"
          id=""
          ngModel
          required
          placeholder="Ingrese precio"
          matInput
        />
        <mat-error>Debe ingresar el precio</mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      >
        Guardar Inmueble
      </button>
    </form>
  </mat-card>
</section>
