<!-- <button (click)="onToggleSpinner()">Toggle Spinner</button>
<app-spinner *ngIf="showSpinner"></app-spinner>
<button appFilesUpload [multiple]="true" (changed)="onFilesChanged($event)">
  Subir Imágenes al servidor
</button>
<button (click)="onSuccess()">Success Message</button>
<button (click)="onError()">Error Message</button> -->

<mat-sidenav-container>
  <mat-sidenav #menu>
    <app-menu-list
      (menuToggle)="menu.toggle()"
      (signOut)="onSignOut()"
      [isAuthorized]="isAuthorized$ | async"
    ></app-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      (menuToggle)="menu.toggle()"
      (signOut)="onSignOut()"
      [isAuthorized]="isAuthorized$ | async"
      [user]="user$ | async"
    ></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
