<div class="files-upload">
  <div class="files-upload__header">
    <h3>Files Uploading</h3>
  </div>
  <div class="files-upload__content">
    <ng-container *ngIf="!files.length">
      <div
        class="dropzone"
        appDropZone
        (hovered)="toggleHovering($event)"
        [class.dropzone__hovered]="isHovering"
        (dropped)="onDrop($event)"
      >
        <div class="dropzone__label">Drop files here</div>
        <div class="dropzone__file">
          <label class="file">
            <input
              type="file"
              class="file__input"
              [multiple]="data.multiple"
              (change)="onDropFile($event)"
            />
            <span class="file__label">Select</span>
          </label>
        </div>
        <div class="error" *ngIf="isError">Seleccione Archivo</div>
      </div>
    </ng-container>
    <ng-container *ngIf="files">
      <app-upload
        *ngFor="let file of files"
        [file]="file"
        (completed)="onUploadComplete($event)"
      ></app-upload>
    </ng-container>
  </div>
  <div class="files-upload__footer">
    <button class="app-button" (click)="onClose()" *ngIf="!filesURLs.length">
      Close
    </button>
    <button class="app-button" (click)="onComplete()" *ngIf="filesURLs.length">
      Completed
    </button>
  </div>
</div>
