<mat-nav-list>
  <a mat-list-item (click)="closeMenu()" routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="navigation-list-label" *ngIf="isAuthorized">Home</span>
  </a>
  <a
    mat-list-item
    (click)="closeMenu()"
    routerLink="/auth/login"
    *ngIf="!isAuthorized"
  >
    <mat-icon>login</mat-icon>
    <span class="navigation-list-label">Login</span>
  </a>
  <a
    mat-list-item
    (click)="closeMenu()"
    routerLink="/auth/registration"
    *ngIf="!isAuthorized"
  >
    <mat-icon>how_to_register</mat-icon>
    <span class="navigation-list-label">Sign in</span>
  </a>

  <a
    mat-list-item
    (click)="closeMenu()"
    routerLink="/contact"
    *ngIf="isAuthorized"
  >
    <mat-icon>contact_support</mat-icon>
    <span class="navigation-list-label">Contact</span>
  </a>

  <a
    mat-list-item
    (click)="closeMenu()"
    routerLink=""
    *ngIf="isAuthorized"
    (click)="closeMenu()"
    routerLink="inmueble/nuevo"
  >
    <mat-icon>add</mat-icon>
    <span class="navigation-list-label">New Product</span>
  </a>

  <a
    mat-list-item
    (click)="closeMenu()"
    routerLink=""
    *ngIf="isAuthorized"
    (click)="closeMenu()"
    routerLink="inmueble/list"
  >
    <mat-icon>add</mat-icon>
    <span class="navigation-list-label">Inmuebles List</span>
  </a>

  <a
    mat-list-item
    (click)="onSingOut()"
    (click)="closeMenu()"
    *ngIf="isAuthorized"
  >
    <mat-icon>logout</mat-icon>
    <span class="navigation-list-label">Log Out</span>
  </a>
</mat-nav-list>
